/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
.bible-referencing-view{
    gap: 4px;
}

.on-select-hover{
    background: var(--interactive-normal) !important;
}

.selected-button{
    border-width: 0px !important;
    background-color: var(--nav-item-background-hover);
    padding: 3px;
    text-align: center;
    border-radius: var(--radius-s);
}

.selected-button:hover{
    background-color: var(--interactive-normal);
}

.bible-referencing-view{
    display: flex;
    flex-direction: column;
}

.book-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 3px;
    grid-row-gap: 3px;
    height:100%;
    overflow-y: scroll;
    overflow-x: visible;
}

.bb-rf-hide-div{
    display: none !important;
}

.book-button{
    width: 100%; border-width: 0px !important;
    box-shadow: 0px;
}

.chapter-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.chapter-button {
    border-width: 0px !important;
    background-color: var(--nav-item-background);
    padding: 3px;
    text-align: center;
    border-radius: var(--radius-s);
}

.chapter-button:hover{
    background-color: var(--nav-item-background-hover);
}